.scroll-container{
    width: 100%;
    height: calc(100% - 1rem);
}
.banner-box{
    height: 4.1rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.banner-box>img{
    width: 100%;
    min-height: 100%;
}
.box-wrapper{
    width: 6.9rem;
    height: 3.48rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0.05rem;
}
.box-wrapper .top{
    padding: 0.3rem 0.6rem;
    background: #ffffff;
}
.box-wrapper .top>p{
    text-align: center;
    font-size: 0.28rem;
    color: #666666;
    margin-bottom: 0.25rem;
}
.box-wrapper .top>h3{
    text-align: center;
    font-size: 0.32rem;
    color: #333333;
    margin-bottom: 0.1rem;
}
.box-wrapper .top>span{
    display: block;
    text-align: center;
    font-size: 0.24rem;
    color: #999999;
}
.bottom{
    background: #f2f2f2;
    display: flex;
    border-radius: 0 0 0.05rem 0.05rem ;
}
.bottom>span{
    width: 50%;
    padding: 0.25rem 0;
    font-size: 0.32rem;
    color: #666666;
    text-align: center;
}
.bottom>span:nth-child(1){
    border-right: 1px solid #e5e5e5;
}
.food-list{
    background: #ffffff;
}
.food-list>p{
    font-size: 0.32rem;
    color: #333333;
    padding: 0.3rem;
    background: #ffffff;
}
.food-list>div{
    background: #F2F2F2;
    display: flex;
    padding: 0.2rem 0.3rem;
    margin-bottom: 0.1rem;
}
.food-list>div .img-box{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.2rem;
    overflow: hidden;
}
img{
    width: 100%;
}
.food-list>div .text{
    width: 5.4rem;
}
.food-list>div .text p{
    display: flex;
    justify-content: space-between;
}
.dex-box li{
    display: flex;
    padding: 0.3rem;
    flex-wrap: wrap;
}
.dex-box li span{
    width: 50%;
    font-size: 0.28rem;
    color: #666666;
    margin-bottom: 0.1rem;
}

.food-list .box2{
    border-top: 0.2rem solid #F2F2F2;
}
.food-list .box2 li{
    padding: 0.3rem 0.5rem 0.3rem 0.3rem;
    color: #333333;
    font-size: 0.32rem;
    display: flex;
}
.food-list .box2 li:not(:nth-last-child(1)){
    border-bottom: 1px solid #e5e5e5;
}
.food-list .box2 li>span:nth-child(1){
    width: 30%;
}
.food-list .box2 input{
    border: none;
    outline: none;
}

.bottom-box{
    height: 1rem;
    position: fixed;
    bottom: 0;
    background: #ffffff;
    display: flex;
    /*z-index: 6;*/
}
.bottom-box>div:nth-child(1){
    width: 4.3rem;
    padding: 0 0.3rem;
    display: flex;
    line-height: 1rem;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
}
.bottom-box>div:nth-child(1)>span:nth-child(1){
    font-size: 0.28rem;
    color: #ff6230;
}
.bottom-box>div:nth-child(1)>span:nth-child(2){
    font-size: 0.24rem;
    color: #999999;
}
.bottom-box span>span{
    font-weight: bold;
}
.bottom-box .sub-btn{
    width: 2.6rem;
    background-color: #ff6230;
    text-align: center;
    color: #fffefe;
    font-size: 0.32rem;
    line-height: 1rem;
}