<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <title>首页</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>

<section class="container">
    <div class="scroll-container" ref="scroll">
        <div>
            <ul class="list-box">
                <li>
                    <div class="img-box">
                        <img src="./images/hotel_item.png" alt="">
                    </div>
                    <div class="text-box">
                        <h2>鲁西肥牛（九方购物中心店）</h2>
                        <div>
                    <span>
                        <span class="star-box">
                            <span class="icon-star icon-star-active"></span>
                            <span class="icon-star icon-star-active"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                        </span>
                        <span>¥79/人</span>
                    </span>
                            <span>1.5km</span>
                        </div>
                        <p>
                            <span>火锅</span>
                            <span>九方购物中心</span>
                        </p>
                    </div>
                </li>
                <li v-for="item in list">
                    <div class="img-box">
                        <img :src="item.imgs[0]" alt="">
                    </div>
                    <div class="text-box">
                        <h2>{{item.name}}</h2>
                        <div>
                    <span>
                        <span class="star-box">
                            <span v-for="star in item.score" class="icon-star icon-star-active"></span>
                            <span v-for="star in item.leftScore" class="icon-star"></span>
                        </span>
                        <span>¥{{item.avgPrice}}/人</span>
                    </span>
                            <span>{{item.distance}}km</span>
                        </div>
                        <p>
                            <span>{{item.tag}}</span>
                            <span>{{item.area}}</span>
                        </p>
                    </div>
                </li>
            </ul>
            <!--
                1、底部提示信息
                2、这里有一种情况,就是没有更多数据时,这里的文本应该显示"暂无更多数据"
            -->
            <div class="bottom-tip">
                <span class="loading-hook">{{bottomTip}}</span>
            </div>
        </div>
    </div>
    <div @click="_hideSortPanel" class="search-bar" :class="{ active: isShowSearchPanel }">
        <div @click.stop class="search-wrapper">
            <div>
                <span class="icon-find"></span>
                <input v-model="searchWord" type="text" placeholder="输入商家/商圈/美食">
                <span @click="_isShowSortPanel">智能排序</span>
            </div>
            <ul v-show="isShowSearchPanel">
                <li :class="{'active':sortIndex==0}" @click="getListByMiles">距离优先</li>
                <li :class="{'active':sortIndex==1}" @click="getListByPriceLow">低价优先</li>
                <li :class="{'active':sortIndex==2}" @click="getListByPriceHigh">高价优先</li>
                <li :class="{'active':sortIndex==3}" @click="getListByGoodComment">好评优先</li>
            </ul>
        </div>
    </div>
    <nav class="cater-bar">
        <a href="./index.html">
            <div class="item home">
                <span class="icon icon-home active"></span>
                <p>首页</p>
            </div>
        </a>
        <a href="#">
            <div class="item order">
                <span class="icon icon-order"></span>
                <p>订单</p>
            </div>
        </a>
        <a href="./pages/user.html">
            <div class="item user">
                <span class="icon icon-user"></span>
                <p>我的</p>
            </div>
        </a>
    </nav>
</section>


<script src="./js/jquery-1.8.3.min.js"></script>
<script src="./js/vue.js"></script>
<script src="./js/bscroll.js"></script>
<script src="./js/flexble.js"></script>
<script src="./js/HttpHelper.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"> </script>
<script src="js/WeChatJSSDK.js"></script>
<script>
    var index = new Vue({
        el:'.container',
        data:{
            scrollY:0,
            list:[],
            getCafesListUrl:'/api/Restaurant/GetRestaurantsByMiles',
            activeIndex:-1,
            searchWord:'',
            sortIndex:0,
            topTip:'下拉刷新',
            bottomTip:'加载更多',
            refreshSuccess:false,
            location:{
                detail:'四川省成都市天府三街',
                lng:0,
                lat:0,
                province:'四川省',
                city:'成都市',
                area:'武侯区',
            },
            hasNext:true,
            pageIndex:1,
        },
        props:{
            probeType:{
                type:Number,
                default:2
            },
            click:{
                type:Boolean,
                default:true
            },
            data:{
                type:Array,
                default:null
            },
            listenScroll:{
                type:Boolean,
                default:true
            },
            pullup:{
                type:Boolean,
                default:false,
            },
            beforeScroll:{
                type:Boolean,
                default:false
            },
            refreshDelay:{
                type:Number,
                default:20
            },
            isShowSearchBar:{
                type:Boolean,
                default:false
            },
            isShowSearchPanel:{
                type:Boolean,
                default:false
            },
        },
        created(){
            this.getCafesList();
        },
        mounted(){
            setTimeout(()=>{
                this.init_scroll();
            },200)
        },
        methods:{
            init_scroll:function () {
                var _this = this;
                //初始化滚动插件
                if(!this.$refs.scroll){
                    return
                }
                this.scroll = new BScroll(this.$refs.scroll,{
                    probeType:this.probeType,
                    click:this.click
                });
                //外层监听滚动位置
                this.scroll.on('scroll',(pos)=>{
                    this.scrollY = pos.y;
                    console.log(_this.scroll.maxScrollY);
                });
                // 滑动结束 判断下拉刷新上拉加载
                this.scroll.on('touchEnd', function (position) {
                    if (position.y > 30) {
                        //开始执行下拉刷新

                    }else if(position.y < (_this.scroll.maxScrollY - 30)) {
                        //开始执行上拉加载
                        if(_this.hasNext){
                            _this.bottomTip = '加载中...';
                            _this.pageIndex++;
                            _this.pullDown(_this.pageIndex);
                        }else {
                            return false;
                        }


                    }
                });

            },
            //是否显示排序面板
            _isShowSortPanel:function () {
                this.isShowSearchPanel = !this.isShowSearchPanel;
                if(this.isShowSearchPanel){
                    this.scroll.disable();
                }else{
                    this.scroll.enable();
                }
            },
            _hideSortPanel:function () {
                var _this = this;
                _this.isShowSearchPanel = false;
                _this.scroll.enable();
            },
            //获取地理位置
            //获取当前地理位置,并获取附近饭店列表
            getLocation:function(){
                var _this = this;
                Wechat(function (wx) {
                    wx.getLocation({
                        type: 'gcj02', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                        success: function (res) {
                            var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                            var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                            var speed = res.speed; // 速度，以米/每秒计
                            var accuracy = res.accuracy; // 位置精度
                            // alert("纬度：" + latitude + "  经度：" + longitude);
                            _this.location.lng = longitude;
                            _this.location.lat = latitude;
                            var geocoder = new qq.maps.Geocoder({
                                complete: function (result) {   //解析成功的回调函数
                                    var address = result.detail.address;  //获取详细地址信息
                                    _this.location.detail = address;
                                    _this.location.province = result.detail.addressComponents.province;
                                    _this.location.city = result.detail.addressComponents.city;
                                    _this.location.area = result.detail.addressComponents.district;
                                }
                            });
                            geocoder.getAddress(new qq.maps.LatLng(res.latitude, res.longitude));
                            // _this.getHotelsList(_this.pageIndex);
                        }
                    });
                })
            },
            //获取酒店列表
            getCafesList:function (pageIndex) {
                var _this = this;
                get(this.getCafesListUrl,{lng:_this.location.lng,lat:_this.location.lat,page:pageIndex,name:_this.searchWord,city:_this.location.city},function(res){
                    res.list.forEach((item)=>{
                        item.distance =  parseInt(item.distance/1000);
                        item.leftScore = 5 - item.score;
                    });
                    _this.list = _this.list.concat(res.list);
                    console.log(_this.list);
                    // 加载更多后,重新计算滚动区域高度
                    setTimeout(()=>{
                        _this.scroll.refresh();
                    },250);
                    //改变提示文本值
                    if(_this.list.length<res.total){
                        _this.hasNext = true;
                        _this.bottomTip = '加载更多';
                    }else{
                        _this.hasNext = false;
                        _this.bottomTip = '暂无更多数据';
                    }
                });
            },
            //距离远近获取列表
            getListByMiles:function(){
                var _this = this;
                _this.pageIndex = 1;
                _this.list = [];
                _this.getHotelsListUrl = '/api/Restaurant/GetRestaurantsByMiles';
                _this.sortIndex = 0;
                _this._hideSortPanel();
                _this.getCafesList(_this.pageIndex);
            },
            //价格低获取列表
            getListByPriceLow:function(){
                var _this=this;
                _this.pageIndex = 1;
                _this.list = [];
                _this.getCafesListUrl = '/api/Restaurant/GetRestaurantsByPriceAsc';
                _this.sortIndex = 1;
                _this._hideSortPanel();
                _this.getCafesList(_this.pageIndex);
            },
            //价格高获取列表
            getListByPriceHigh:function(){
                var _this=this;
                _this.pageIndex = 1;
                _this.list = [];
                _this.getCafesListUrl = '/api/Restaurant/GetRestaurantsByPriceDesc';
                _this.sortIndex = 2;
                _this._hideSortPanel();
                _this.getCafesList(_this.pageIndex);
            },
            //好评获取列表
            getListByGoodComment:function(){
                var _this=this;
                _this.pageIndex = 1;
                _this.list = [];
                _this.getCafesListUrl = '/api/Restaurant/GetRestaurantsByGoodComments';
                _this._hideSortPanel();
                _this.sortIndex = 3;
                _this.getCafesList(_this.pageIndex);
            },
            //上拉加载数据
            pullDown:function (pageIndex) {
                var _this = this;
                if(!_this.hasNext){
                    return false;
                }else{
                    _this.getCafesList(_this.pageIndex);
                }
            },

        }
    })
</script>

</body>
</html>